.search-bar input {
    width: 75%;
    height: 30px
}

.search-bar{
    margin: 20px;
   display: flex;
   align-items: center;
        width: 106%;
        border-bottom: 1px solid #808080;
        height: 100px;
        left: 0
}

.video-item img{
    max-width: 64px;
}

.video-detail .details {
    margin-top: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;

}

.list-group-item{
    cursor: pointer;
    width: 400px;
}
.list-group-item:hover{
    background-color: #eee
}